.container{
    position: relative;
    display: inline-block;
    min-width: 110rpx;
    margin-right: 20rpx;
    image{
        width: 32rpx;
        height: 28rpx;
    }
    .count{
        position: relative;
        font-size: 20rpx;
        right: -8rpx;
        top: -28rpx;
        color: #c9c9c9;
    }
}