.container{
    position: relative;
    image{
        width: 32rpx;
        height: 28rpx;
    }
    .count{
        position: absolute;
        display: inline-block;
        font-size: 20rpx;
        top: -10rpx;
        right: -20rpx;
        color: #c9c9c9;
    }
}