.container{
    .top{
        height: 100rpx;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        .right{
            display: flex;
            align-items: center;
        }
    }
    .controller{
        position: absolute;
        bottom: 40rpx;
        left: 80rpx;
    }
}